// Tipography
$font-family: "Open Sans", sans-serif;
$titles__Font: "Afacad", sans-serif;

@font-face {
  font-family: 'Afacad';
  src: url("../external_fonts/Afacad/Afacad-VariableFont_wght.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Colors
$primary-color: #FFD9AE;
$background-color: #1F1D51;
$navbar__color: #161441;

//light mode
$header-color-light-mode: #f4f2e2;
$background-color-light-mode: #fcfbea;
$primary-color-light-mode: #1F1D51;

//input
$input__color: #FFECEC;

:root {
  --font-family: #{$font-family};
  --primary-color: #{$primary-color};
  --background-colour: #{$background-color};
}

body.light-mode {
  --header-color: #{$header-color-light-mode};
  --background-colour: #{$background-color-light-mode};
  --primary-color: #{$primary-color-light-mode};
}
