@font-face {
  font-family: 'Afacad';
  src: url('src/sass/external_fonts/Afacad/Afacad-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --font-family: "Open Sans", sans-serif;
  --primary-color: #FFD9AE ;
  --background-colour: #1F1D51;
}

body.light-mode{
    --background-colour: #FDFCDF;
    --primary-color:#1F1D51;
}

$titles__Font:"Afacad", sans-serif;

//Header and Footer color
$navbar__colour:#161441;
$input__colour:#FFECEC;