// Card.scss
@import "../utilities/_variable.scss";

.card {
  position: relative; /* Para posicionar el texto sobre la imagen */
  width: 15rem; /* Ajusta el tamaño de la tarjeta según sea necesario */
  height: 15rem; /* Ajusta la altura de la tarjeta */
  cursor: pointer; /* Cambia el cursor al pasar sobre el artículo */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 1rem;

  &__image {
    opacity: 0.7; /* Reduce la opacidad de la imagen para hacer el texto más legible */
    filter: brightness(0.7); /* Oscurece la imagen */
  }

  &__text {
    position: absolute; /* Posiciona el texto sobre la imagen */
    bottom: 0; /* Coloca el texto en la parte inferior */
    left: 0;
    right: 0;
    color: $primary-color;
    padding: 10px; /* Espaciado interno para el texto */
    font-size: 1.2rem; /* Tamaño de fuente */
    font-weight: bold; /* Hacer el texto en negrita */
    text-align: center; /* Centra el texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  }

    &:hover {
      &__image {
        backdrop-filter: blur(2px);
      }
      .card__text {
        background-color: rgba(0, 0, 0, 0.7); /* Oscurece más el fondo del texto al pasar el mouse */
      }
    }

}
