@import "../utilities/_variable.scss";
// ListMusic.scss

.list-music {
  display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
  justify-content: space-between;
  padding: 2rem 2rem;

  h1 {
    font-size: 2rem;
    padding: 2rem 2rem;
    color: $primary-color;
    font-family: $titles__Font;
    width: 100%;
    text-align: left;
  }

  h2 {
    font-size: 2rem;
    padding: 2rem 2rem;
    color: $primary-color;
    font-family: $titles__Font;
    width: 100%;
    text-align: left;
  }
}
