.album-card {
  display: flex; /* Utiliza flexbox para alinear la imagen y los detalles */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  margin-bottom: 0.2rem; /* Espacio entre tarjetas */

  &__image {
    width: 1.5rem; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 2rem;
  }

  &__details {
    flex: 1;

    &__title {
      margin: 0;
      font-size: 1.5em;
    }

    &__description {
      margin: 5px 0;
      font-size: 1em;
    }

    &__link {
      color: #007bff; /* Color del enlace */
      text-decoration: none; /* Elimina el subrayado del enlace */

      &:hover {
        text-decoration: underline; /* Subraya el enlace al pasar el mouse */
      }
    }
  }
}
