.bg-mi-color {
    background-color: #161439; /* Color personalizado */
}
.text-descriptivo {
    font-family: "Open Sans", serif;
    color: #FFD9AE; /* Texto blanco para contraste */
}

.img-sin-fondo{
    background-color: transparent;
}

.bg-input{
    background-color: #FFECEC;
}

.form-registro {
    background-color: #FFD9AE;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.form-campo {
    margin-bottom: 15px;
}

.campo-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}